@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-80px);
  }
}

.animate-float {
  animation: float 1s ease-out forwards;
}
